.page-footer {
    padding: 0 0 20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 117, 116);

    a {
        text-decoration: none;
        color: black;
        width: 100%;
    }

    .footer-button {
        width: 100%;
        height: 4.5rem;
        background-color: rgb(169, 161, 158);
        border: none;
        font-size: larger;
        font-weight: 600;
        line-height: .7;
        font-weight: 400;
    }

    .footer-button:hover {
        opacity: .7;
    }
    
    .company-adress {
        background-color:#FAB131;
    }

}

.contact-footer {
    display: flex;
    flex-direction: column;
    background-color: #a9a19e;
    
    
}

.company-adress {
    background-color: #FAB131;
    width: 80%;
    align-self: center;
    height: 10rem;
    color: white;
    padding: 1.5em;
    transform: translateY(6em);


    h1 {
        font-size: 2.8rem;
        text-align: center;
    }

    h1, p {
        color: white;
        margin: 0 auto;
    }

    p {
        margin-left: 1.2em;
    }

    .footer-map {
       z-index: -7;
       position: absolute;
       width: 100%;
       
       img {
        object-fit: cover;
        
       }
        
    }
}
