.page-footer {
    padding: 0 0 20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 117, 116);

    a {
        text-decoration: none;
        color: black;
        width: 100%;
    }

    .footer-button {
        width: 100%;
        height: 4.5rem;
        background-color: rgb(169, 161, 158);
        border: none;
        font-size: larger;
        font-weight: 600;
    }

    .footer-button:hover {
        opacity: .7;
    }
    
    .company-adress {
        background-color:#FAB131;

    }

}