.buttons {
    display: flex;
    background-color: #fff;

    margin: 1em;
    padding: 1em;
    border-radius: 9999px;
    box-shadow: 2px 2px 4px #969696;
    width: 13rem;

    align-items: center;
    justify-content: space-evenly;
}