@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Frank+Ruhl+Libre&display=swap');

p, button {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Frank Ruhl Libre', serif;
}